body {
  padding: 0;
  margin: 0;
}
/** Text Color */
.text-grey-darkest {
  color: #373A3D
}
.text-grey-darker {
  color: #6E747A
}
.text-grey-dark {
  color: #A6AFB8
}
.text-grey {
  color: #B8C2CC
}
.text-grey-light {
  color: #CDD4DB
}
.text-grey-lighter {
  color: #E3E7EB
}
.text-grey-lightest {
  color: #F8F9FA
}
.text-white {
  color: #FFFFFF
}

/** Regal */
.text-regal-darkest {
  color: #001723;
}
.text-regal-darker {
  color: #002E46;
}
.text-regal-dark {
  color: #004568;
}
.text-regal {
  color: #004D74;
}
.text-regal-light {
  color: #4D829E;
}
.text-regal-lighter {
  color: #99B8C7;
}
.text-regal-lightest {
  color: #E6EDF1;
}

/** Bittersweet */
.text-bittersweet-darkest {
  color: #4B221F;
}
.text-bittersweet-darker {
  color: #96443E;
}
.text-bittersweet-dark {
  color: #E1675E;
}
.text-bittersweet {
  color: #FA7268;
}
.text-bittersweet-light {
  color: #FC9C95;
}
.text-bittersweet-lighter {
  color: #FDC7C3;
}
.text-bittersweet-lightest {
  color: #FFF1F0;
}

/** BACKGROUNDS */
.bg-bittersweet-dark {
  background: #E1675E;
}

.bg-regal-dark {
  background: #004568;
}

/** Font Family */
.font-sans {
  font-family: cresta, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.font-serif {
  font-family: embury-text, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
}
.font-mono {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

p, li, a {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: .05em;
}
@media screen and (min-width: 720px) {
  p, li, a {
    font-size: 24px;
  }

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 12px 0;
}

h1 {
  padding-top: 0;
  margin-top: 0;
  font-size: 40px;
  font-weight: normal;
}

h2 {
  font-size: 30px;
  letter-spacing: .02em
}

@media screen and (min-width: 720px) {
  h1 {
    font-size: 80px;
    margin-bottom: .25em;
  }
  h2 {
    font-size: 44px;
  }
}

/**  LAYOUT */
/** ========================================================================= */

.section {
  height: 100vh;
  display: grid;
  grid-gap: 16px;
  justify-content: center;
}
.section--v-centralized {
  align-items: center;
}

.section__inner {
  padding: 24px;
}
@media screen and (min-width: 720px) {
  .section__inner {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px
}
@media screen and (min-width: 720px) {
  nav {
    grid-template-columns: repeat(3, 1fr);
  }
}


