/* https://ui8-bruddle.herokuapp.com/ */
/* @import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */

@import "tailwindcss";

@theme {
    --color-ikea-yellow: #fcd915;
    --color-jet-orange: #ff8001;
    --color-vivo-purple: #609;
}

h1 {
    @apply font-semibold text-gray-700 dark:text-stone-200 mb-2;
}

p {
    @apply text-sm;
}

a.link {
    @apply border-b hover:border-b transition-all hover:text-stone-700 font-semibold;
}

pre {
    @apply p-2;
}

pre,
code,
kbd {
    @apply text-xs;
}

/* Post and Til dedicaded styles */
article.til {
    @apply flex flex-col gap-4;
}

article.til p {
    /*@apply mb-4;*/
}
