/* https://ui8-bruddle.herokuapp.com/ */

@import "tailwindcss";

@theme {
    --font-mono: "IBM Plex Mono", "Courier New", Courier, monospace;
    /*--font-display: "VT323", "Courier New", Courier, monospace;*/

    /* Brand colors */
    --color-ikea-yellow: #fcd915;
    --color-jet-orange: #ff8001;
    --color-vivo-purple: #609;

    /*
    CRT Black: 0A0F0A
    Phosphor Green #33FF66
    Dim Green #1FAF4A
    Dark Green #0E5F2F
    Amber terminal #FFB000

    option 1: ffb000-626c66-434a42-f95738-ffffff
    option 2: ffb000-333333-48e5c2-fcfaf9-5e5e5e
    option 3 (neobruta): ffb000-466365-c4c6e7-baa5ff-9be564
    */

    --color-crt-black: #0a0f0a;
    --color-phosphor-green: #33ff66;
    --color-dim-green: #1faf4a;
    --color-dark-green: #0e5f2f;
    --color-amber-terminal: #ffb000;
}

h1 {
    @apply font-semibold mb-2 text-3xl sm:text-5xl tracking-wide transition-all;
}

/*h1 {*/
/*@apply font-display;*/
/*}*/

p {
    @apply text-base leading-7;
}

a.link {
    @apply border-b hover:border-b font-semibold;
}

pre {
    @apply p-2;
}

pre,
code,
kbd {
    @apply text-sm;
}

/* Article dedicaded styles */
article {
    @apply flex flex-col gap-4;
}

h2 {
    @apply font-semibold text-2xl uppercase;
}

article li {
    @apply list-disc list-inside;
}

/*article li::marker {
    @apply text-amber-terminal;
}*/
