---
interface Props {
	links: {
		title: string;
		url: string;
	}[];
}

const { links } = Astro.props;
---

<ul class="flex flex-col gap-2">
  {links.map((link) => (
    <li class="">
      <a href={link.url} class="link text-sm">{link.title}</a>
    </li>
  ))}
</ul>
