---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Vinicius Cainelli">
  <main>
    <h1>About</h1>
    <section>
      <p>
        Frontend Developer and Team Player with an insatiable passion for UI,
        create and build amazing and beautiful applications that make an impact
        on people lives.
      </p>
    </section>

  </main>
</Layout>
