---
import ContentWrapper from "../components/ContentWrapper.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vinicius Cainelli - Product Engineer">
  <ContentWrapper>
    <main class="my-20">
      <h1 class="text-6xl sm:text-6xl font-bold text-gray-600 dark:text-gray-400">Connect & Create</h1>
      <section class="my-12 sm:my-24">
        <p class="text-2xl leading-10">
          Looking for a web developer who speaks the language of both code and design?
          You're in the right place.
          <br>
          Drop me a line through any of these platforms, and let's discuss how we can bring your digital ideas to life with exceptional UI/UX.
        </p>
      </section>

      <!-- email and telegram links -->
      <section>
        <h2>Let's Start a Conversation</h2>
      <p>Have an idea brewing? Want to discuss possibilities? These direct channels are the quickest way to reach me. I'm just a message away from helping you transform your vision into reality.</p>

      <ul>
        <li>
          <a href="mailto:vicainelli@gmail.com" class="text-blue-500 dark:text-blue-400">Email</a>
        </li>
        <li>
          <a href="https://t.me/vicainelli" class="text-blue-500 dark:text-blue-400">Telegram</a>
        </li>
      </ul>
      </section>


      <!-- social links -->
      <section>
        <h2>See My Work in Action</h2>
        <p>Curious about my capabilities? Check out my portfolio and professional networks where I showcase my projects, share insights, and connect with the design and development community.</p>


        <ul>


          <li><a
            class=""
            href="https://linkedin.com/in/vicainelli"
            rel="noopener"
            target="_blank"
            >LinkedIn</a
          ></li>
        <li><a
          class=""
          href="https://github.com/vicainelli/"
          rel="noopener"
          target="_blank"
          >GitHub</a
        ></li>
        <li><a
          class=""
          href="https://www.behance.net/viniciuscainelli"
          rel="noopener"
          target="_blank"
          >Behance</a
        ></li>
        <li><a
          class=""
          href="https://codepen.io/vicainelli/"
          rel="noopener"
          target="_blank"
          >CodePen</a
        ></li>
        <li><a
          class=""
          href="https://dribbble.com/vicainelli"
          rel="noopener"
          target="_blank"
          >Dribbble</a
        ></li>

        </ul>

      </section>


    </main>
  </ContentWrapper>
</Layout>
