---
import ContentWrapper from "../components/ContentWrapper.astro";
import LinksList from "../components/widgets/LinksList.astro";
import Layout from "../layouts/Layout.astro";

const SOCIAL_LINKS = [
	{ title: "LinkedIn", url: "https://linkedin.com/in/vicainelli" },
	{ title: "GitHub", url: "https://github.com/vicainelli/" },
	{ title: "Behance", url: "https://www.behance.net/viniciuscainelli" },
	{ title: "CodePen", url: "https://codepen.io/vicainelli/" },
	{ title: "Dribbble", url: "https://dribbble.com/vicainelli" },
];

const CONTACT_LINKS = [
  { title: "Email", url: "mailto:vicainelli@gmail.com" },
  { title: "Telegram", url: "https://t.me/vicainelli" },
];
---

<Layout title="Vinicius Cainelli - Product Engineer">
  <ContentWrapper>
    <main class="my-20">
      <h1 class="text-4xl sm:text-6xl text-gray-800 dark:text-gray-400 font-anton">Connect & Create</h1>
      <section class="my-12 sm:my-18">
        <p class="text-2xl leading-10">
          Looking for a web developer who speaks the language of both code and design?
          You're in the right place.
          <br>
          Drop me a line through any of these platforms, and let's discuss how we can bring your digital ideas to life with exceptional UI/UX.
        </p>
      </section>

      <!-- email and telegram links -->
      <section>
        <h2 class="text-2xl mb-4 font-anton text-gray-700">Let's Start a Conversation</h2>
      <p class="text-xl text-balance mb-2">Have an idea brewing? Want to discuss possibilities? </p>
      <p class="text-lg text-balance">These direct channels are the quickest way to reach me. I'm just a message away from helping you transform your vision into reality.</p>

      <div class="mt-4">
        <LinksList links={CONTACT_LINKS} />
      </div>

      </section>


      <!-- social links -->
      <section class="mt-12">
        <h2 class="text-2xl mb-4 font-anton text-gray-700">See My Work in Action</h2>
        <p class="text-balance text-xl mb-2">Curious about my capabilities?</p>
        <p class="text-balance text-lg">Check out my portfolio and professional networks where I showcase my projects, share insights, and connect with the design and development community.</p>

        <div class="mt-4">
          <LinksList links={SOCIAL_LINKS} />
        </div>
      </section>
    </main>
  </ContentWrapper>
</Layout>
