---
import ContentWrapper from "../components/ContentWrapper.astro";
import WorkExperience from "../components/widgets/WorkExperience.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vinicius Cainelli - User Interface Enginner">
  <ContentWrapper>
    <main class="my-20">
      <h1 class="text-6xl sm:text-6xl font-bold text-gray-600 dark:text-gray-400">
        <small class="block text-xl">Hi, I'm Vini</small> <span class="text-gray-800">Product Engineer</span> crafting impactful, elegant applications that transform lives
      </h1>
      <section class="my-12 sm:my-24">
        <p class="text-2xl leading-10">
          I’m currently pushing code to help you furnish your home at <a href="https://ikea.com">IKEA</a>.
        </p>
      </section>

      <WorkExperience items={[
        {
          title: "Senior Software Engineer",
          company: "IKEA",
          period: "Jan 2022 - present",
          type: "full time",
        },
        {
          title: "Software Engineer",
          company: "JustEat Takeaway",
          period: "May 2020 - Dec 2021",
          type: "full time",
        },
        {
          title: "Senior Software Engineer",
          company: "VIVO",
          period: "June 2019 - May 2020",
          type: "full time",
        },
      ]} />

    </main>
  </ContentWrapper>
</Layout>
