---

import ContentWrapper from "@/components/ContentWrapper.astro";
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";

const WORK_EXPERIENCE = [
	{
		company: "IKEA",
		description:
			"Creating and develping the best and semealess experience on the IKEA Family Rewards program for customers and co-workers ",
		current: true,
		url: "/work/ikea"
	},
	{
		company: "JustEat Takeaway",
		description:
			"Shipped a Vue design system used by 10+ squads: fast UI, sleek UX, tested, and smoothly released.",
		current: false,
		url: "/work/justeat-takeaway"
	},
	{
		company: "VIVO / Telefónica",
		description:
			"Built a Vue self-service UI: reusable, tested, and stable, cutting support calls and boosting UX.",
		current: false,
		url: "/work/vivo-telefonica"
	},
];
---

<Layout title="Vinicius Cainelli - Product Engineer">
  <ContentWrapper>
    <main class="my-20">
      <section>

            <div class="">
                <div class="rounded-full border-3 w-9 h-9 mb-2 overflow-hidden">
                    <a title="" href="/me">
                        <Image src="https://avatars.githubusercontent.com/vicainelli" width="36" height="36" class="rounded-full" alt="Vinicius Cainelli avatar">
                    </a>
                </div>
        <h1 class="">Vinicius Cainelli</h1>
        <p class=" text-gray-600 dark:text-stone-300 text-sm text-balance leading-relaxed">
            I'm a software engineer focused on UI, creating impactful and elegant applications that transform lives. <br>
          I am based in the Netherlands and currently writing code, to help you furnish your home, at <a class="border-b-2" href="https://ikea.com">IKEA</a>.</p>
          </div>
      </section>

      <section  class="my-8">
          <div class="flex justify-between border-b border-b-stone-300 dark:border-b-stone-500  py-2 mb-4 items-center">
              <div><h2>Work</h2></div>
              <div>
                  <a class="" href="/work">view all</a>
              </div>
          </div>
      <div class="my-2 grid grid-cols-1 sm:grid-cols-2 gap-4">
          {WORK_EXPERIENCE.map((work) => (
          <a href={work.url} class={cn(
            // Position
            // Layout
            "p-3 rounded-md",

            // Styling
            "border border-gray-200 hover:bg-gray-100",
            // Dark mode
            "dark:bg-[#1E2938] border hovder:dark:border-[#99a1af]",
            // " dark:border-stone-500 dark:hover:bg-stone-700",

            // Other
            "transition-all duration-400 ease-in-out",
            `${work.current ? 'sm:col-span-2' : ''}`,
          )}>
              <h3 class="text-sm font-semibold mb-1">{work.company}</h3>
              <p class="dark:text-stone-400 text-sm">{work.description}</p>
          </a>
          ))}
      </div>
      </section>

    </main>
  </ContentWrapper>
</Layout>
