---



import ContentWrapper from "@/components/ContentWrapper.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Vinicius Cainelli - User Interface Enginner">
  <article>
    <header class="mt-20 mb-12">
      <ContentWrapper>
        <h1
          class="text-4xl sm:text-6xl font-semibold text-gray-800 dark:text-gray-400"
        >
          Uses
        </h1>
        <p class="text-xl mt-4">
          Here you'll find the software and hardware that help me be productive.
        </p>
      </ContentWrapper>
    </header>

    <div class="min-h-[240px] w-full max-w-[1600px] mx-auto mb-16">
      <img
        src="/assets/images/vc-office-desk-1600.png"
        srcset="/assets/images/vc-office-desk-400 400w,
        /assets/images/vc-office-desk-600.png 600w,
        /assets/images/vc-office-desk-900.png 900w,
        /assets/images/vc-office-desk-1200.png 1200w,
        /assets/images/vc-office-desk-1600.png 1600w"
        alt="office desktop with two screens"
        sizes="(max-width: 1200px) 100vw, 1600px"
        loading="lazy"
      />
    </div>

    <ContentWrapper>
      <section>
        <h2 class="text-3xl font-semibold mb-4">Editor + Terminal</h2>

        <p class="text-lg my-4">
          I'm always trying new configurations and themes. I'm currently using
          the <a href="https://github.com/codesandbox/vscode-theme"
            >CodeSandbox Theme</a
          >
        </p>

        <ul class="list-disc list-inside text-lg">
          <li>Visual Studio Code</li>
          <li>
            <a href="https://hyper.is/">Hyper</a> with ZSH as default terminal
          </li>
        </ul>

        <h3 class="uppercase text-2xl mt-8 mb-4">VS Code extensions</h3>
        <ul class="list-disc list-inside text-lg">
          <li>aaron-bond.better-comments</li>
          <li>astro-build.astro-vscode</li>
          <li>bierner.markdown-preview-github-styles</li>
          <li>bradlc.vscode-tailwindcss</li>
          <li>CodeSandbox-io.codesandbox-projects-theme</li>
          <li>dbaeumer.vscode-eslint</li>
          <li>eamodio.gitlens</li>
          <li>esbenp.prettier-vscode</li>
          <li>GitHub.copilot</li>
          <li>mattpocock.ts-error-translator</li>
          <li>mikestead.dotenv</li>
          <li>ms-vscode.makefile-tools</li>
          <li>ms-vscode.sublime-keybindings</li>
          <li>PKief.material-icon-theme</li>
          <li>Prisma.prisma</li>
          <li>syler.sass-indented</li>
          <li>teabyii.ayu</li>
          <li>WallabyJs.quokka-vscode</li>
          <li>WallabyJs.wallaby-vscode</li>
        </ul>
      </section>

      <section class="mt-16">
        <h2 class="text-3xl font-semibold mb-4">Hardware</h2>

        <ul class="list-disc list-inside text-lg">
          <li>
            MacBook Pro 2019 16-inch <em>2,3 GHz i9 - 16 GB - 1TB SSD</em>
          </li>
          <li>Dual monitors: Dell D2719D</li>
          <li>Mouse: M720 Triathlon</li>
          <li>Keyboard: Keychron K3</li>
          <li>Audio: Sony WH-1000XM3 + AirPods Pro</li>
          <li>
            iPad Mini + Apple Pencil (for notations/sketches and external
            monitor when travelling)
          </li>
        </ul>
      </section>

      <section class="mt-16">
        <h2 class="text-3xl font-semibold mb-4">Software</h2>

        <ul class="list-disc list-inside text-lg">
          <li>Slak</li>
          <li>Discord</li>
          <li>Git/GitHub</li>
          <li>Chrome / Brave</li>
          <li>Notion</li>
          <li>Todoist</li>
          <li>Raycast</li>
          <li>1Password</li>
        </ul>
      </section>

      <section class="mt-16">
        <h2 class="text-3xl font-semibold mb-4">Furniture</h2>

        <ul class="list-disc list-inside text-lg">
          <li>
            Desk: <a
              href="https://www.ikea.com/nl/en/p/rodulf-desk-sit-stand-grey-white-s99326170/"
              >IKEA RODULF</a
            >
          </li>
          <li>Chair: DXRacer Formula Series F11-N</li>
        </ul>
      </section>
    </ContentWrapper>
  </article>
</Layout>
