---
import ContentWrapper from "@/components/ContentWrapper.astro";
import ArtistCard from "@/components/molecules/ArtistCard.astro";
import Breadcrumbs from "@/components/molecules/Breadcrumbs.astro";
import { CONCERTS, type Concert } from "@/data/concerts.js";
import Layout from "@/layouts/Layout.astro";

const BREADCRUMBS = [
  { title: "Home", url: "/" },
  { title: "Me", url: "/me" },
  { title: "Concerts" },
];

---
<Layout title="Concerts" description="A list of concerts I've attended and those I hope to attend in the future.">
    <ContentWrapper>

        <main class="my-20">
            <Breadcrumbs items={BREADCRUMBS} />
            <h1>Concerts</h1>
        <div class="flex flex-col gap-6 mb-8">
            <p class="text-gray-600 dark:text-stone-300 text-sm text-balance leading-relaxed">
                Going to live concerts is definitely one of my top three favorite activities! <br>
                It's such a cathartic, therapeutic, communal, and beautiful experience. <br>
                Sometimes, you get lucky and find yourself at shows that have all the perfect elements, an amazing venue, fantastic sound quality, the right moment in the artist's career (which is subjective, of course), a wonderful crowd, and more.

            </p>
            <p class="text-gray-600 dark:text-stone-300 text-sm text-balance leading-relaxed">I feel fortunate to have been part of some of these experiences.</p>
            <p class="text-gray-600 dark:text-stone-300 text-sm text-balance leading-relaxed">

                I've always wanted a place to keep track of them, to hold onto those memories, as well as to list all the concerts I still hope to attend.

                So, here we are!

            </p>

        </div>

        <div>
            <ul data-testid="artist-list" class="columns-2 gap-4 sm:columns-3 space-y-2">
                {CONCERTS
                  .sort((a, b) => {
                    const aHasAttends = a.attends.length > 0;
                    const bHasAttends = b.attends.length > 0;
                    if (aHasAttends && !bHasAttends) return -1;
                    if (!aHasAttends && bHasAttends) return 1;
                    return 0;
                  })
                  .map((concert: Concert) => <li>
                    <ArtistCard concert={concert} />
                  </li>)}
            </ul>


        </div>
        </main>
    </ContentWrapper>
</Layout>
