---
// biome-ignore lint/correctness/noUnusedImports: import used in template
import { SOCIAL_LINKS, type SocialLink } from "@/data/social-links";
// biome-ignore lint/correctness/noUnusedImports: import used in template
import { cn } from "@/lib/utils";
// biome-ignore lint/correctness/noUnusedImports: import used in template
import ContentWrapper from "../components/ContentWrapper.astro";

// biome-ignore lint/correctness/noUnusedVariables: used in template
const currentYear = new Date().getFullYear();
---

<footer class="py-4 mt-8">
  <ContentWrapper>
    <div class="flex flex-col items-center justify-center gap-4">
        <div>
            <nav class="flex gap-2 sm:gap-4">
                {SOCIAL_LINKS.map((link: SocialLink) =>
                  <a
                    rel="noopener noreferrer"
                    class={cn(
                      // Position
                      // Layout
                      // Styling
                      "lowercase text-sm font-semibold",

                      // Other
                      "transition-all"
                    )}
                    target="_blank"
                    href={link.url}>{link.name}</a>)}
            </nav>
        </div>
        <div><p class="">&copy; {currentYear} Vinicius Cainelli</p></div>
    </div>
  </ContentWrapper>
</footer>
