---
const currentYear = new Date().getFullYear();
---

<footer class="border-t pt-6 dark:border-gray-700">
  <nav>
    <nav>
      <a
        class="mr-2 text-lg"
        href="https://linkedin.com/in/vicainelli"
        rel="noopener"
        target="_blank"
        >LinkedIn</a
      >
      <a
        class="mr-2 text-lg"
        href="https://github.com/vicainelli/"
        rel="noopener"
        target="_blank"
        >GitHub</a
      >
      <a
        class="mr-2 text-lg"
        href="https://www.behance.net/viniciuscainelli"
        rel="noopener"
        target="_blank"
        >Behance</a
      >
      <a
        class="mr-2 text-lg"
        href="https://codepen.io/vicainelli/"
        rel="noopener"
        target="_blank"
        >CodePen</a
      >
      <a
        class="mr-2 text-lg"
        href="https://dribbble.com/vicainelli"
        rel="noopener"
        target="_blank"
        >Dribbble</a
      >
      <a
        class="mr-2 text-lg"
        href="/assets/files/vinicius-cainelli-Resume-2022-Q1-full.pdf"
        download
        target="_blank"
        >Resume</a
      >
    </nav>
  </nav>
  <div class="my-4">
    <p>&copy; {currentYear} Vinicius Cainelli</p>
  </div>
</footer>
