---
// biome-ignore lint/correctness/noUnusedImports: import used in template
import { SOCIAL_LINKS, type SocialLink } from "@/data/social-links";
// biome-ignore lint/correctness/noUnusedImports: import used in template
import { cn } from "@/lib/utils";
// biome-ignore lint/correctness/noUnusedImports: import used in template
import ContentWrapper from "../components/ContentWrapper.astro";

// biome-ignore lint/correctness/noUnusedVariables: used in template
const currentYear = new Date().getFullYear();
---

<footer class="bg-ebony-50 dark:bg-ebony-clay-900 py-4 mt-8">
  <ContentWrapper>
    <div class="flex flex-col items-center justify-center gap-3">
        <div>
            <nav class="flex gap-2">
                {SOCIAL_LINKS.map((link: SocialLink) =>
                  <a
                    rel="noopener noreferrer"
                    class={cn(
                      // Position
                      // Layout
                      // Styling
                      "lowercase text-sm font-semibold",
                      "text-ebony-500 hover:text-ebony-700",
                      "dark:text-ebony-clay-100 dark:hover:text-ebony-clay-300",

                      // Other
                      "transition-all"
                    )}
                    target="_blank"
                    href={link.url}>{link.name}</a>)}
            </nav>
        </div>
        <div><p class="text-ebony-600 dark:text-ebony-300">&copy; {currentYear} Vinicius Cainelli</p></div>
    </div>
  </ContentWrapper>
</footer>
