---
import ContentWrapper from "../components/ContentWrapper.astro";
import { SOCIAL_LINKS, SocialLink } from "../data/social-links";
const currentYear = new Date().getFullYear();
---

<footer class="bg-lime-50 py-4 mt-20">
  <ContentWrapper>
    <div class="flex justify-between items-center">
        <div><p>&copy; {currentYear} Vinicius Cainelli</p></div>
        <div>
            <nav class="">
                <!-- {SOCIAL_LINKS.map((link: SocialLink) => <a class="link text-sm" href={link.url}>{link.name}</a>)} -->
            </nav>
        </div>
    </div>
  </ContentWrapper>
</footer>
