---
import ContentWrapper from "../components/ContentWrapper.astro";
const currentYear = new Date().getFullYear();
---

<footer class="border-t pt-8 mt-20 dark:border-gray-700 flex-shrink-0">
  <ContentWrapper>
    <nav>
      <nav class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 gap-3">
        <a
          class="text-center text-lg px-4 py-3 border border-gray-400 dark:bg-gray-700 inline-block rounded"
          href="https://linkedin.com/in/vicainelli"
          rel="noopener"
          target="_blank"
          >LinkedIn</a
        >
        <a
          class="text-center text-lg px-4 py-3 border border-gray-400 dark:bg-gray-700 inline-block rounded"
          href="https://github.com/vicainelli/"
          rel="noopener"
          target="_blank"
          >GitHub</a
        >
        <a
          class="text-center text-lg px-4 py-3 border border-gray-400 dark:bg-gray-700 inline-block rounded"
          href="https://www.behance.net/viniciuscainelli"
          rel="noopener"
          target="_blank"
          >Behance</a
        >
        <a
          class="text-center text-lg px-4 py-3 border border-gray-400 dark:bg-gray-700 inline-block rounded"
          href="https://codepen.io/vicainelli/"
          rel="noopener"
          target="_blank"
          >CodePen</a
        >
        <a
          class="text-center text-lg px-4 py-3 border border-gray-400 dark:bg-gray-700 inline-block rounded"
          href="https://dribbble.com/vicainelli"
          rel="noopener"
          target="_blank"
          >Dribbble</a
        >
        <a
          class="text-center text-lg px-4 py-3 border border-gray-400 dark:bg-gray-700 inline-block rounded"
          href="/assets/files/vinicius-cainelli-Resume-2022-Q1-full.pdf"
          download
          target="_blank"
          >Resume</a
        >
      </nav>
    </nav>
    <div class="mb-4 mt-8">
      <p>&copy; {currentYear} Vinicius Cainelli</p>
    </div>
  </ContentWrapper>
</footer>
