---
import ContentWrapper from "./ContentWrapper.astro";
---

<header>
  <ContentWrapper>
    <div class="flex justify-between items-center my-4">
      <div>
        <span class="text-3xl font-bold">Vini 👋</span>
      </div>
      <div>
        <a class="border rounded-full py-3 px-6 block border-b-4" href="/contact">Let's talk →</a>
      </div>
    </div>
  </ContentWrapper>
</header>
