---
import ContentWrapper from "./ContentWrapper.astro";
---

<header>
  <ContentWrapper>
    <div class="flex justify-between items-center my-4">
      <div>
        <span class="text-3xl font-bold">Vini 👋</span>
      </div>
      <div>
        <a class="border rounded-full p-3 block" href="https://t.me/vicainelli">Let's talk →</a>
      </div>
    </div>
  </ContentWrapper>
</header>
