      <section class="my-8">
          <div>
              <div class="flex justify-between border-b  py-2 mb-4 items-center">
                  <div><h2 class="text-2xl">Recent Writing</h2></div>
                  <div>
                      <a class="" href="/me/writing">view all</a>
                  </div>
              </div>
              <PostList posts={recentPosts} />
          </div>
      </section>
