---
import type { Concert } from "../../data/concerts";

const { concert } = Astro.props as { concert: Concert };

const attendsCount = concert.attends.length;
---

<div class={`${attendsCount >= 1 ? 'text-green-600' : 'text-gray-400' } artist-card`}>
<span class="font-semibold">{concert.artist}</span>
{attendsCount >= 1 && (<span
  class=" opacity-70"
>{attendsCount}&times;</span>)}
</div>