---
import type { Concert } from "@/data/concerts";
// biome-ignore lint/correctness/noUnusedImports: import used in template
import { cn } from "@/lib/utils";

const { concert } = Astro.props as { concert: Concert };

// biome-ignore lint/correctness/noUnusedVariables: used in template
const attendsCount = concert.attends.length;
---

<div class={cn(
    attendsCount >= 1 ? "text-green-700 dark:text-lime-500" : "text-stone-500 dark:text-stone-400" ,
  "text-sm"
)}>
<span class="font-semibold">{concert.artist}</span>
{attendsCount >= 2 && (<span
  class="opacity-80"
>{attendsCount}&times;</span>)}
</div>
