---

// biome-ignore lint/correctness/noUnusedImports: import used in template
import { cn } from "@/lib/utils";

// biome-ignore lint/correctness/noUnusedVariables: used in template
interface Props {
	items: {
		title: string;
		url?: string;
	}[];
}

// biome-ignore lint/correctness/noUnusedVariables: used in template
const { items } = Astro.props;
---

<div class="mb-8">
    <nav>
        <ol class="lowercase">
            {items.map(item => (
                <li class={
                cn(
                    "inline text-sm",
                    item !== items[items.length - 1] ? "after:content-['/'] after:mx-4 after:" : "font-semibold  dark:"
                )
                }>
                    {item.url ? <a href={item.url}>{item.title}</a> : <span>{item.title}</span>}
                </li>
            ))}
    </ol>
    </nav>
</div>
