---
import { cn } from '@/lib/utils';
import { Image } from 'astro:assets';

interface Props {
    data: {
        id: string;
        title: string;
        url?: string;
      }[];
}

const { data } = Astro.props;
---

<a class="hover:shadow-xl block transition-shadow duration-500 " href={`/work/${data.id}`}>
<div class="p border border-stone-200 dark:border-stone-700 rounded-sm">
    <div class={cn(
      // Position
      "relative",
      // Layout
      "w-full p-2 pb-0",
      "overflow-clip grow flex h-[290px] max-h-[290px]",
      // Styling
      "border-b border-gray-200 bg-linear-to-b from-electric-violet-50/20 to-electric-violet-50/40",
      "dark:border-gray-500/20 dark:from-transparent dark:to-electric-violet-900/20",
      // Other
      "",
    )}>
        <Image class={cn(
          // Position
          "relative z-10",
          // Layout
          "sm:w-auto",
          "max-w-full object-top-left object-cover grow shrink-0 rounded-t-md",
          // Styling
          "shadow-lg border border-gray-500/15 border-b-0",
          "dark:shadow-[0_4px_8px_rgba(0,0,0,0.5)]",
          // Other
        )}
        src="/src/assets/images/work/ikea-rewards.png" alt="rewards page" width="2715" height="1761" />
    </div>
    <div class="px-2 py-4">
        <h3>{data.title}</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, veniam.</p>
    </div>
</div>
</a>
