---
import ContentWrapper from "@/components/ContentWrapper.astro";
import Layout from "@/layouts/Layout.astro";
import Breadcrumbs from "@/components/molecules/Breadcrumbs.astro";
import WorkDetails from "@/components/molecules/WorkDetails.astro";
import { getCollection, render, type CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'til'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('work');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);

const BREADCRUMBS = [
  { title: "Home", url: "/" },
  { title: "Work", url: "/work" },
  { title: post.data.title },
];
---
<Layout title="Me" description="My personal content and interests.">
    <ContentWrapper>
        <main class="my-20">
            <Breadcrumbs items={BREADCRUMBS} />
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <aside class="md:order-2">
                    <WorkDetails post={post} />
                </aside>
                <article class="md:order-1 md:col-span-2">
                    <h1>{post.data.title}</h1>
                    <Content />
                </article>
            </div>
        </main>
    </ContentWrapper>
</Layout>
