---
import ContentWrapper from "../../components/ContentWrapper.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Vinicius Cainelli - My Work">
  <ContentWrapper>
    <main class="mt-20">
      <h1 class="">My Work</h1>
      <section class="">
        <p class="text-balance">
          Welcome to my work portfolio! Here, you'll find a curated selection of projects that showcase my skills and passion for frontend development and design.
        </p>
      </section>
    </main>
  </ContentWrapper>
</Layout>
