---
import ContentWrapper from "@/components/ContentWrapper.astro";
import Layout from "@/layouts/Layout.astro";
import Breadcrumbs from "@/components/molecules/Breadcrumbs.astro";
import { getCollection, render, type CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'til'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('til');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);

const BREADCRUMBS = [
  { title: "Home", url: "/" },
  { title: "Me", url: "/me" },
  { title: "TIL", url: "/me/til" },
  { title: post.data.title },
];
---
<Layout title="Me" description="My personal content and interests.">
    <ContentWrapper>
        <main class="my-20">
            <Breadcrumbs items={BREADCRUMBS} />
            <Content />
        </main>
    </ContentWrapper>
</Layout>
