---
import ContentWrapper from "@/components/ContentWrapper.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render, type CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'til'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('til');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---
<Layout title="Me" description="My personal content and interests.">
    <ContentWrapper>
        <main class="my-20">

            <div>
                <nav>
                    <ol class="">
                    <li class="inline"><a href="/">home</a></li>
                    <li class="inline"><a href="/me">me</a></li>
                    <li class="inline"><a href="/me/til">til</a></li>
                    <li class="inline">{post.data.title}</li>
                </ol>
                </nav>
            </div>

            <Content />
        </main>
    </ContentWrapper>
</Layout>
