---































































































































import { type CollectionEntry, getCollection, render } from 'astro:content';
import ExternalLink from "@/components/atoms/ExternalLink.astro";
import ContentWrapper from "@/components/ContentWrapper.astro";
import AuthorCard from "@/components/molecules/AuthorCard.astro";
import Breadcrumbs from "@/components/molecules/Breadcrumbs.astro";
import Layout from "@/layouts/Layout.astro";

interface Props {
  post: CollectionEntry<'til'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('til');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);

const BREADCRUMBS = [
  { title: "Home", url: "/" },
  { title: "Me", url: "/me" },
  { title: "TIL", url: "/me/til" },
  { title: post.data.title },
];
---
<Layout title="Me" description="My personal content and interests.">
    <ContentWrapper>
        <main class="my-20">
            <Breadcrumbs items={BREADCRUMBS} />
            <article class="til">
                <h1>{post.data.title}</h1>

                <AuthorCard postData={post.data} />

                <hr class="my-4 border-stone-300">

                <Content components={{ a: ExternalLink}} />
            </article>
        </main>
    </ContentWrapper>
</Layout>
