---
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@/styles/global.css";

export interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html class="w-full h-full" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		{description ? (
  		<meta name="description" content={description} />
		) : (
		<meta name="description" content="Frontend Developer And Team Player with an insatiable passion for UI, create and build amazing and beautiful applications that make an impact on people lives.">
		)}
		<meta property="og:title" content="Vinicius Cainelli - Frontend Developer And Team Player." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://cainelli.dev/" />
		<meta property="og:image" content="https://cainelli.dev/images/image-sharing.png" />
		<meta property="og:site_name" content="Vinicius Cainelli - Frontend Developer And Team Player." />
		<meta name="twitter:card" content="photo" />
		<meta name="twitter:site" content="@vicainelli" />
		<meta name="twitter:title" content="Vinicius Cainelli - Frontend Developer And Team Player." />
		<meta name="twitter:image" content="https://cainelli.dev/images/twitter-sharing.png" />
		<meta name="twitter:url" content="https://cainelli.dev/" />
		<meta name="p:domain_verify" content="429431a878ec3b2373ef8008233704ed" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Person",
				"email": "mailto:contact@cainelli.dev",
				"image": "https://www.gravatar.com/avatar/ad20ea263b745ae2c34a402655e1e22d?s=400",
				"jobTitle": "Software Engineer",
				"name": "Vinicius Cainelli",
				"alumniOf": [
					"Mackenzie Presbiterian University",
					"Senac"
				],
				"birthPlace": "São Paulo, Brasil",
				"gender": "male",
				"nationality": "Brazilian",
				"url": "httpss://cainelli.dev",
				"sameAs": [
					"https://bsky.app/profile/vcainelli.bsky.social",
					"http://www.facebook.com/vicainelli",
					"http://instagram.com/vicainelli",
					"https://linkedin.com/in/vicainelli",
					"https://plus.google.com/u/1/+ViniciusCainelli",
					"https://github.com/vicainelli/",
					"https://www.pinterest.com/vicainelli/",
					"https://dribbble.com/vicainelli",
					"https://www.uplabs.com/vicainelli",
					"https://stackoverflow.com/users/2092969/vinicius-cainelli",
					"https://pt.stackoverflow.com/users/65299/vinicius-cainelli"
				]
			}
		</script>
	</head>
	<body class="font-sans bg-stone-50 dark:bg-ebony-clay-800 dark:text-gray-300 flex flex-col min-h-screen">
		<Header />

		<div class="flex-1">
			<div>
				<slot />
			</div>
		</div>

		<Footer />
	</body>
</html>
